*.iml
.gradle
/local.properties
.idea/*
.idea/gradle.xml
.DS_Store
build/outputs/hap/*
build/outputs/app/release/com.ohos.photos-release-unsigned.app
build/outputs/app/release/pack.info
/captures
.externalNativeBuild
.cxx
module_photos.xml
photos.properties
photos.xml
photos_Mon_Jan_25_09-05-43_GMT+08-00_2021.properties
photos_Mon_Jan_25_09-05-43_GMT+08-00_2021.xml
module_photos_Mon_Jan_25_09-05-43_GMT+08-00_2021.xml

/entry/build/
/.gradle/
/.preview/

/.local.properties
/.gradle.properties